In [17]:
# pip install pyjokes
import pyjokes
import requests
from sqlalchemy import create_engine
import pandas as pd

In [49]:
engine = create_engine('postgresql://postgres:postgres@localhost:5556/tweets', echo=True)

- Worst

In [50]:
query_worst = f"""
    SELECT id, text, created_at, sentiment
    FROM   tweets
    ORDER BY sentiment LIMIT 1
    """

In [51]:
query_best = f"""
    SELECT id, text, created_at, sentiment
    FROM   tweets
    ORDER BY sentiment DESC LIMIT 1
    """

In [52]:
# reading query and write to variable with pandas:
tweet_worst = pd.read_sql_query(query_worst, con=engine)
tweet_best = pd.read_sql_query(query_best, con=engine)

2022-04-24 14:34:11,219 INFO sqlalchemy.engine.Engine select version()
2022-04-24 14:34:11,265 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-24 14:34:11,380 INFO sqlalchemy.engine.Engine select current_schema()
2022-04-24 14:34:11,381 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-24 14:34:11,385 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-04-24 14:34:11,385 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-24 14:34:11,394 INFO sqlalchemy.engine.Engine
    SELECT id, text, created_at, sentiment
    FROM   tweets
    ORDER BY sentiment LIMIT 1

2022-04-24 14:34:11,395 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-04-24 14:34:12,018 INFO sqlalchemy.engine.Engine
    SELECT id, text, created_at, sentiment
    FROM   tweets
    ORDER BY sentiment DESC LIMIT 1

2022-04-24 14:34:12,023 INFO sqlalchemy.engine.Engine [raw sql] {}

In [53]:
tweet_best

,id,text,created_at,sentiment
0,1518153559602249728,Happy Easter to our Christian sisters &amp; br...,2022-04-24 09:03:09,0.9776

In [55]:
tweet_worst

,id,text,created_at,sentiment
0,1518154123820077056,Russian exiled outlet Meduza citing sources sa...,2022-04-24 09:05:23,-0.9686

In [61]:
# get value of text and sentiment
text_tweet_best = tweet_best['text'].iloc[0]
time_tweet_best = tweet_best['created_at'].iloc[0]
sentiment_tweet_best =  tweet_best['sentiment'].iloc[0]
    
text_tweet_worst = tweet_worst['text'].iloc[0]
time_tweet_worst = tweet_worst['created_at'].iloc[0]
sentiment_tweet_worst =  tweet_worst['sentiment'].iloc[0]

In [79]:
data = {
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": f"*The Best Tweet Received*\n:+1: With a Score of {sentiment_tweet_best}\n{text_tweet_best}\n*Created at*:{time_tweet_best}"
            }
        },
        {
            "type": "divider"
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": f"*The Worst Tweet Received*\n:-1: With a Score of {sentiment_tweet_worst}\n{text_tweet_worst}\n*Created at*:{time_tweet_worst}"
            }
        }
    ]
}

In [80]:
data

{'blocks': [{'type': 'section',
   'text': {'type': 'mrkdwn',
    'text': '*The Best Tweet Received*\n:+1: With a Score of 0.9776\nHappy Easter to our Christian sisters &amp; brothers celebrating it today. Today, especially, to those in Ukraine, I wish that the promise of Christ resurrected brings them hope &amp; strengthens their faith in the freedom they are defending. May the peace resurrect &amp; hostilities end!\n*Created at*:2022-04-24 09:03:09'}},
  {'type': 'divider'},
  {'type': 'section',
   'text': {'type': 'mrkdwn',
    'text': '*The Worst Tweet Received*\n:-1: With a Score of -0.9686\nRussian exiled outlet Meduza citing sources says "the Kremlin doesn\'t know, how to end the war with Ukraine without Putin\'s rating fall" \nPutin started a war. And Russian troops will continue to kill, rape, execute, turture, starve Ukrainians because of his bloodthirsty ratings.\n*Created at*:2022-04-24 09:05:23'}}]}

In [81]:
webhook_url = "https://hooks.slack.com/services/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"

In [82]:
requests.post(url=webhook_url, json = data)